<div class="doc-home">
    <div nz-row>
        <div nz-col class="home-banner-img">
            <div class="content-center">
                <nz-layout>
                    <nz-header>
                        <div class="section left">
                            <div class="log">HiCooper
                                <span class="version">v1.0.0</span>
                            </div>
                        </div>
                        <div class="section middle">
                            <span style="margin-right: 20px">Doc</span>
                            <span>Component</span>
                        </div>
                        <div class="section right">
                            <span>Star</span>
                        </div>
                    </nz-header>
                    <nz-content>
                        <div class="main-start">
                            <h1>
                                HiCooper
                            </h1>
                            <p>
                                Components, Auth & Security for your next Angular App
                            </p>
                        </div>
                    </nz-content>
                    <nz-footer>Footer</nz-footer>
                </nz-layout>
            </div>
        </div>
    </div>
</div>